# =============================================================================
# VS CODE EXTENSION
# =============================================================================

/node_modules/
/out/
/dist/
*.vsix
